*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}


body{
    background-color: #fafafa;
}


#main-container{
    display: flex;
    margin-top: 30px;
}

#banner-container, #form-container{
    flex: 1 1 0;
    width: 50%;
}

#banner-container{
    text-align: right;
    
}

#banner-container img{
    width: 100%;
    margin-right: 15px;
    margin-top: 25px;
    max-width: 380px;
}


#form-container{
    text-align: center;
}

#form-box{
    background-color: #fff;
    border: 1px solid #dbdbdb;
    width: 350px;
    margin-top: 30px;
}

#logo-insta{
    width: 175px;
    height: 51px;
    margin: 30px auto 12px;
}

#login-form{
    margin-top: 20px;
}

#login-form input{
    display: block;
    font-size: 12px;
    padding: 12px 9px;
    background-color: #fafafa;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    width: 268px;
    margin: 5px auto;
}


#login-form input[type="submit"]{
    background-color: #b2dffc;
    color: #fff;
    margin-top: 15px;
    border-radius: 5px;
    min-height: 30px;
    font-size: 13px;
    padding: 0;
    font-weight: bold;
}

.separator{
    position: relative;
}

.line{
    width: 268px;
    border-top: 1px solid #dbdbdb;
    margin: 25px auto 35px;
}

.separator span{
    position: absolute;
    text-transform: uppercase;
    color: #bbb;
    background-color: #fff;
    top: -6px;
    width: 50px;
    margin-left: -25px;
    font-size: 14px;
}


#facebook-login{
    margin-bottom: 25px;
}

#facebook-login a{
    text-decoration: none;
    color: #315185;
    display: flex;
    align-items: center;
    justify-content: center;
}

#facebook-login img{
    width: 16px;
    margin-right: 8px;
    height: 16px;
}

#facebook-login span{
    font-weight: bold;
    font-size: 14px;
    margin-top: 1px;
}

#forgot-pass{
    margin-bottom: 20px;
    font-size: 13px;
}

#forgot-pass a{
    text-decoration: none;
    color: #373799;
}

#register-container{
    width: 350px;
    background-color: #fff;
    border: 1px solid #dbdbdb;
    margin-top: 10px;
    padding: 25px;
}

#register-container p{
    font-size: 15px;
    color: #262626;
}

#register-container a{
    text-decoration: none;
    font-weight: bold;
    color: #4a95f6;
}

#get-app-container{
    width: 350px;
    text-align: center;
}

#get-app-container p{
    margin: 20px 0;
    font-size: 15px;
}
#get-app-container a{
    text-decoration: none;
}

#get-app-container img{
    height: 40px;
    width: 136px;
    margin-bottom: 10px;
}


footer{
    text-align: left;
    width: 1000px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer #footer-links{
    display: flex;
    list-style: none;
    
}

#footer-links li{
    margin-right: 10px;
}

#footer-links a, #copyright{
    text-decoration: none;
    color: #8e8e8e;
    font-size: 12px;
}

#copyright{
    margin-top: 10px;
}

/*MOBILE*/

@media (max-width: 450px) {
    body{
        background-color: #fff;
    }

    #banner-container{
        display: none;
    }

    #main-container, #form-box{
        margin-top: 0;
    }

    #form-container, #form-box, #get-app-container, #register-container{
        width: 100%;
        border: none;
    }

    footer{
        width: 90%;
    }

    #footer-links{
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 10px;
    }
}